<%- include("../../components/head-component.ejs") %>
<link rel="stylesheet" href="/css/components/page-admin-new-product.css">
</head>
<body>
    <main>
        <%- include("../../components/header-component.ejs") %>

        <div class="component-wrapper">
            <div class="container">
                <form class="form-container" action="/access/signup" method="post" novalidate>
                    <h2 class="form-title">Đăng ký</h2>
                    <% if(formError.length) {%> <h3 class="form-message"><%= formError %></h3> <% } %>

                    <div class="form-group">
                        <label class="form-label" for="username">Họ và tên</label>
                        <input
                            class="<%= inputsErrors.find((elm)=> elm.path === 'user_name')? 'form-control is-invalid' : 'form-control' %>"
                            type="text"
                            name="user_name" id="username">
                        <% if(inputsErrors.some((elm)=> elm.path === 'user_name')) { %>
                            <small class="input-message"><%= inputsErrors.find((elm) => elm.path === 'user_name')?.msg %></small>
                        <% } %>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="email">E-mail</label>
                        <input
                            class="<%= inputsErrors.find((elm)=> elm.path === 'email')? 'form-control is-invalid' : 'form-control' %>"
                            type="email"
                            name="email" id="email">
                        <% if(inputsErrors.some((elm)=> elm.path === 'email')) { %>
                            <small class="input-message"><%= inputsErrors.find((elm) => elm.path === 'email')?.msg %></small>
                        <% } %>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="password">Mật khẩu</label>
                        <input
                            class="<%= inputsErrors.find((elm)=> elm.path === 'password')? 'form-control is-invalid' : 'form-control' %>"
                            type="password"
                            name="password" id="password">
                        <% if(inputsErrors.some((elm)=> elm.path === 'password')) { %>
                            <small class="input-message"><%= inputsErrors.find((elm) => elm.path === 'password')?.msg %></small>
                        <% } %>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="password-confirm">Mật khẩu nhập lại</label>
                        <input
                            class="<%= inputsErrors.find((elm)=> elm.path === 'password_confirm')? 'form-control is-invalid' : 'form-control' %>"
                            type="password"
                            name="password_confirm" id="password-confirm">
                        <% if(inputsErrors.some((elm)=> elm.path === 'password_confirm')) { %>
                            <small class="input-message"><%= inputsErrors.find((elm) => elm.path === 'password_confirm')?.msg %></small>
                        <% } %>
                    </div>

                    <input type="hidden" name="_csrf" value="<%= csurfToken %>">

                    <button type="submit" class="btn w-100">Đăng ký</button>
                </form>
            </div>
        </div>
    </main>

<%- include("../../components/footer-component.ejs") %>