<%- include("../../components/head-component.ejs") %>
<link rel="stylesheet" href="/css/components/page-admin-new-product.css">
</head>
<body>
    <main>
        <%- include("../../components/header-component.ejs") %>

        <div class="component-wrapper">
            <div class="container">
                <form class="form-container" action="/user/signin" method="post" novalidate>
                    <h2 class="form-title">Đăng nhập</h2>
                    <div class="form-group">
                        <label class="form-label" for="email">E-mail</label>
                        <input
                            class="<%= validators.find((elm)=> elm.path === 'email')? 'form-control is-invalid' : 'form-control' %>"
                            type="email"
                            name="email"
                            id="email"
                            value="<%= formField.email %>">
                        <% if(validators.some((elm)=> elm.path === 'email')) { %>
                            <small class="input-message"><%= validators.find((elm) => elm.path === 'email')?.msg %></small>
                        <% } %>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="password">Mật khẩu</label>
                        <input
                            class="<%= validators.find((elm)=> elm.path === 'password')? 'form-control is-invalid' : 'form-control' %>"
                            type="password"
                            name="password"
                            id="password"
                            value="<%= formField.password %>">
                        <% if(validators.some((elm)=> elm.path === 'password')) { %>
                            <small class="input-message"><%= validators.find((elm) => elm.path === 'password')?.msg %></small>
                        <% } %>
                    </div>

                    <input type="hidden" name="_csrf" value="<%= csurfToken %>">

                    <button type="submit" class="btn w-100">Đăng nhập</button>
                </form>
            </div>
        </div>
    </main>

<%- include("../../components/footer-component.ejs") %>