<%- include("../../components/head-component") %>
<link rel="stylesheet" href="/css/components/page-cart.css" />
<link rel="stylesheet" href="/css/common/common-custom-table.css" />
</head>

<body>
    <main>
        <%- include("../../components/header-component") %>
        <%- include("../../components/breadcrumb-component") %>
        <% if(message && message.length) {%><h2 class="page-mesage"><%= message %></h2> <% } %>
        <div class="component-wrapper">
            <div class="container">
                <% if(user && user.cart.length ) { %>
                    <div class="table-container">
                        <table>
                            <thead>
                                <tr>
                                    <th scope="col">STT</th>
                                    <th scope="col">Tên sản phẩm</th>
                                    <th scope="col">Ảnh sản phẩm</th>
                                    <th scope="col">Giá sản phẩm</th>
                                    <th scope="col">Số lượng</th>
                                    <th scope="col">Chức nắng</th>
                                </tr>
                            </thead>
                            <tbody>

                                <% user.cart.forEach((item, index) => { %>
                                    <tr>
                                        <td><%= index %></td>
                                        <td><%= item.product.title %></td>
                                        <td>
                                            <img class="table-product-thumbnail" src="<%= item.product.image %>" alt="Thumbnail" />
                                        </td>
                                        <td><%= item.product.price %> đ</td>
                                        <td><%= item.quantity %></td>
                                        <td class="table-product-action">
                                            <form action="/cart/del/product" method="post">
                                                <input type="hidden" name="product" value="<%= item.product._id %>">
                                                <input type="hidden" name="_csrf" value="<%= csurfToken %>">
                                                <button type="submit" class="btn mb-0">Xoá</button>
                                            </form>
                                        </td>
                                    </tr>
                                <% }) %>

                                <tr>
                                    <td>Tên khách hàng</td>
                                    <td colspan="4"><%= user.name %></td>
                                    <td rowspan="3">
                                        <!-- HUỶ GIỎ HÀNG -->
                                        <form action="/cart/cancel" method="post">
                                            <input type="hidden" name="user" value="<%= user._id %>" />
                                            <input type="hidden" name="_csrf" value="<%= csurfToken %>" />
                                            <button type="submit" class="btn btn-danger w-100">Huỷ giỏ hàng</button>
                                        </form>

                                        <!-- FLOW ĐI ORDER -->
                                        <form action="/order" method="post">
                                            <input type="hidden" name="user" value="<%= user._id %>"/>
                                            <input type="hidden" name="_csrf" value="<%= csurfToken %>">
                                            <button type="submit" class="btn w-100">Đặt hàng</button>
                                        </form>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Địa chỉ E-mail</td>
                                    <td colspan="4"><%= user.email %></td>
                                </tr>
                                <tr>
                                    <td>Tổng hoá đơn</td>
                                    <td colspan="4"><%= total %> đ</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                <% } else { %>
                    <p class="blank col-12">Bạn chưa thêm sản phẩm vào giỏ hàng</p>
                <% } %>
            </div>
        </div>
    </main>

<%- include("../../components/footer-component") %>