<%- include("../../components/head-component") %>
<link rel="stylesheet" href="/css/components/page-order.css" />
<link rel="stylesheet" href="/css/common/common-custom-table.css" />
</head>

<body>
    <main>
        <%- include("../../components/header-component") %>
        <%- include("../../components/breadcrumb-component") %>

        <div class="component-wrapper">
            <div class="container">
                <% if(order && order.collections.length ) { %>
                    <div class="table-container">
                        <table>
                            <thead>
                                <tr>
                                    <th scope="col">STT</th>
                                    <th scope="col">Tên sản phẩm</th>
                                    <th scope="col">Ảnh sản phẩm</th>
                                    <th scope="col">Giá sản phẩm</th>
                                    <th scope="col">Số lượng</th>
                                </tr>
                            </thead>
                            <tbody>
    
                                <% order.collections.forEach((orderElm, index) => { %>
                                    <tr>
                                        <td><%= index %></td>
                                        <td><%= orderElm.product.title %></td>
                                        <td>
                                            <img class="table-product-thumbnail" src="<%= orderElm.product.image %>" alt="Thumbnail" />
                                        </td>
                                        <td><%= orderElm.product.price %> đ</td>
                                        <td><%= orderElm.quantity %></td>
                                    </tr>
                                <% }) %>
    
                                <tr>
                                    <td>Tên khách hàng</td>
                                    <td colspan="3"><%= order.user.name %></td>
                                    <td rowspan="3">
                                        <div class="d-flex flex-column">
                                            <!-- HUỶ ĐƠN HÀNG -->
                                            <form action="/order/cancel" method="post">
                                                <input type="hidden" name="order" value="<%= order._id %>" />
                                                <input type="hidden" name="_csrf" value="<%= csurfToken %>" />
                                                <button type="submit" class="btn btn-danger w-100">Huỷ đơn hàng</button>
                                            </form>

                                            <!-- XUẤT ĐƠN HÀNG -->
                                            <a href="/order/invoice/<%=  order.user._id %>" class="btn w-100">Xuất đơn hàng</a>

                                            <!-- FLOW ĐI PAYMENT -->
                                            <!-- <a href="/order/payment" class="btn w-100">Thanh toán</a> -->
                                            <form action="/order/payment" method="post">
                                                <input type="hidden" name="user" value="<%= order.user._id %>">
                                                <input type="hidden" name="_csrf" value="<%= csurfToken %>" />
                                                <button class="btn w-100">Thanh toán</button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Địa chỉ E-mail</td>
                                    <td colspan="4"><%= order.user.email %></td>
                                </tr>
                                <tr>
                                    <td>Tổng hoá đơn</td>
                                    <td colspan="4"><%= total %> đ</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                <% } else { %>
                    <p class="blank col-12">Hoá đơn trống</p>
                <% } %>
            </div>
        </div>
    </main>

<%- include("../../components/footer-component") %>