<%- include("../../components/head-component.ejs") %>
<link rel="stylesheet" href="/css/components/page-admin.css" />
</head>

<body>
    <main>
        <%- include("../../components/header-component.ejs") %>

        <div class="component-wrapper">
            <div class="container">
                <div class="admin-tab-maneger">
                    <a class="btn" href="/admin">Sản phẩm</a>
                    <a class="btn" href="/admin/user">Người dùng</a>
                    <a class="btn" href="/admin/role">Phân quyền</a>
                </div>

                <div class="admin-tab">
                    <a class="btn" href="/admin/product/new">Thêm mới sản phẩm</a>
                </div>

                <div class="row">
                    <% if(products.length) { %>
                        <% products.forEach((product) => { %>
                            <div class="col-12 col-sm-6 col-lg-4  col-xl-3 d-flex align-items-stretch">
                                <div class="card">
                                    <img class="image-fluid card-thumbnail" src="<%= product.image %>" alt="product thumbnail" />
                                    <div class="card-infor">
                                        <h2 class="card-infor_title"><%= product.title %></h2>
                                        <p class="card-infor_price">Giá: <%= product.price %> đ</p>
                                    </div>

                                    <div class="card-action">
                                        <a class="btn" href="/admin/product/edit?product=<%= product._id %>">Sửa thông tin</a>
                                        <a class="btn" href="/product/del/<%= product._id %>">Xoá</a>
                                    </div>
                                </div>
                            </div>
                        <% } ) %>

                    <% } else { %> 
                        <p class="blank">Product blank</p>
                    <% } %>
                </div>
            </div>
        </div>
    </main>

<%- include("../../components/footer-component.ejs") %>