<%- include("../../components/head-component.ejs") %>
<link rel="stylesheet" href="/css/components/page-admin.css" />
</head>

<body>
    <main>
        <%- include("../../components/header-component.ejs") %>

        <div class="component-wrapper">
            <div class="container">
                <div class="admin-tab-maneger">
                    <a class="btn" href="/product/admin/0">Sản phẩm</a>
                    <a class="btn" href="/user/admin">Người dùng</a>
                    <a class="btn" href="/role/admin">Phân quyền</a>
                </div>

                <div class="admin-tab">
                    <a class="btn" href="/product/new">Thêm mới sản phẩm</a>
                </div>

                <% if(products && products.length) { %>
                    <div class="table-container">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Tên sản phẩm</th>
                                    <th scope="col">Ảnh</th>
                                    <th scope="col">Giá</th>
                                    <th scope="col">Số lượng</th>
                                    <th scope="col">Chức năng</th>
                                </tr>
                            </thead>

                            <tbody>
                                <% products.forEach((product, index) => { %>
                                <tr>
                                    <td scope="row"><%= index %></td>
                                    <td><%= product.title %></td>
                                    <td>
                                        <img src="<%= product.image %>" width="100" alt="thumbnail">
                                    </td>
                                    <td><%= product.price %> đ</td>
                                    <td><%= product?.quantity %></td>
                                    <td class="h-100">
                                        <a class="btn" href="/product/edit?product=<%= product._id %>">Sữa</a>
                                        <form action="/product/delete" method="post">
                                            <input type="hidden" name="product" value="<%= product._id %>" />
                                            <input type="hidden" name="_csrf" value="<%= csurfToken %>">
                                            <button type="submit" class="btn">Xoá </button>
                                        </form>
                                    </td>
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>

                <% } else { %> 
                    <p class="blank">Product blank</p>
                <% } %>

                <%- include("../../components/pagination-component"), {paginations, link, currentPage} %>
            </div>
        </div>
    </main>

<%- include("../../components/footer-component.ejs") %>