<%- include("../../components/head-component.ejs") %>
<link rel="stylesheet" href="/css/components/page-admin.css" />
</head>

<body>
    <main>
        <%- include("../../components/header-component.ejs") %>

        <div class="component-wrapper">
            <div class="container">
                <div class="admin-tab-maneger">
                    <a class="btn" href="/admin">Sản phẩm</a>
                    <a class="btn" href="/admin/user">Người dùng</a>
                    <a class="btn" href="/role/admin">Phân quyền</a>
                </div>

                <div class="admin-tab">
                    <a class="btn" href="/role/admin/new">Thêm phân quyền</a>
                </div>

                <% if(pageMessage) {%>
                    <h2 class="page-mesage"><%= pageMessage %></h2>
                <% } %>

                <div class="table-container">
                    <% if(roles && roles?.length) { %>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Loại quyền</th>
                                    <th scope="col">Tài khoản hiện có</th>
                                    <th scope="col">Hành động</th>
                                </tr>
                            </thead>

                            <tbody>
                                <% roles.forEach((role, index) => { %>
                                <tr>
                                    <td scope="row"><%= index %></td>
                                    <td><%= role.name %></td>
                                    <td><%= role.users.length %></td>
                                    <td>
                                        <% if(role.name != 'Admin') { %>
                                            <a href="#" class="btn mb-0">Sửa thông tin</a>
                                            <form action="/role/delete" method="post">
                                                <input type="hidden" name="role" value="<%= role._id %>">
                                                <input type="hidden" name="_csrf" value="<%= csurfToken %>" />
                                                <button type="submit" class="btn mb-0">Xoá</button>
                                            </form>
                                        <% } %>
                                    </td>
                                </tr>
                                <% }) %>

                            </tbody>
                        </table>

                    <% } else {%>
                        <h2 class="balnk-value">Không có nội dung phù hợp</h2>
                    <% } %>
                </div>

            </div>
        </div>
    </main>

<%- include("../../components/footer-component.ejs") %>